<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h3>Shopping Buy All</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat maiores officia expedita iusto amet accusantium nemo earum enim aliquid at! Earum fugiat error tempore voluptate temporibus itaque ab provident blanditiis?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <img src="../../../assets/Screenshot_2.png" class="img-fluid img-proyecto" >
        </div>
    </div>
</div>
