<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/WhatsApp Image 2022-07-31 at 8.36.32 PM.jpeg" 
        class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Pucheta Patricia Alejandra</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique earum optio quae praesentium enim dolorum corporis cumque, repudiandae alias eos et neque eligendi. Aperiam, soluta. Beatae atque molestias dolorem optio?</p>
        </span>
    </div>
</div>
