<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - 
                <h3>(Year)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ab officia at repudiandae corporis dolore ex vel consequatur optio assumenda, asperiores ratione debitis deleniti. Doloribus ut autem explicabo blanditiis velit?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - 
                <h3>(Year)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ab officia at repudiandae corporis dolore ex vel consequatur optio assumenda, asperiores ratione debitis deleniti. Doloribus ut autem explicabo blanditiis velit?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - 
                <h3>(Year)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ab officia at repudiandae corporis dolore ex vel consequatur optio assumenda, asperiores ratione debitis deleniti. Doloribus ut autem explicabo blanditiis velit?
            </p>
        </ul>
    </div>
</div>
